altgraph==0.16.1
aniso8601==7.0.0
attrs==19.3.0
configparser==4.0.2
graphene==2.1.8
graphql-core==2.2.1
graphql-relay==2.0.1
importlib-metadata==1.4.0
Jinja2==2.10.3
jsonschema==3.2.0
MarkupSafe==1.1.1
more-itertools==8.1.0
promise==2.3
PyInstaller==3.5
pyrsistent==0.15.7
pytz==2019.3
Rx==1.6.1
simplejson==3.17.0
six==1.13.0
tornado==6.0.3
Werkzeug==0.16.0
zipp==0.6.0
